@charset "UTF-8";

body {
    background-color: teal;
}


main {
    background-color: violet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(151, 82, 151);
    padding: 10px;
    margin: auto;
    width: 700px;
    border-radius: 5px;
    
    
}
h1,h2 {
    font: italic bold 2em 'Work san';
    color: snow;
    
    

}

p {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-align: justify;
}